<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <!-- SEGMENT SNIPPET BELOW -->
    <script>
        // The beginning of the segment snippet
        // The exclamantion point allows this epression to invoke immediately
        !function() {
            // set analytics as a method of the window object and give it the array type
            var analytics = window.analytics = window.analytics || [];
            // this ensures the analytics methods haven't been created and instantiated yet. In most cases this should evaluate to true unless you've already placed the snippet on the page
            if (!analytics.initialize)
                // redundent check to avoid running the same code twice
                if(analytics.invoked)
                    window.console && console.error && console.error("Segment snippet included twice.");
                else {
                    analytics.invoked = !0;
                    analytics.methods = ["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on","addSourceMiddleware","addIntegrationMiddleware","setAnonymousId","addDestinationMiddleware"];
                    analytics.factory = function(e) {
                        return function(){ 
                            var t = Array.prototype.slice.call(arguments);
                            t.unshift(e);
                            analytics.push(t);
                            return analytics
                        }
                    };
                    for (var e=0; e < analytics.methods.length; e++) {
                        var key = analytics.methods[e];
                        analytics[key]= analytics.factory(key)
                    }
                    analytics.load = function(key, e) {
                        var t = document.createElement("script");
                        t.type="text/javascript";
                        t.async = !0;
                        t.src = "https://cdn.segment.com/analytics.js/v1/" + key + "/analytics.min.js";
                        var n = document.getElementsByTagName("script")[0];
                        n.parentNode.insertBefore(t, n);
                        analytics._loadOptions = e
                    };
                    analytics._writeKey = "ZCGk1EJTvy4YZ96cGNvgnYc5zbVXVErY";
                    analytics.SNIPPET_VERSION = "4.13.2";
                    analytics.load("ZCGk1EJTvy4YZ96cGNvgnYc5zbVXVErY");
                    analytics.page();
                }
        }();
    </script>
    <!-- END SEGMENT SNIPPET -->
  </head>
  <body>
    <div>
        <p id="welcome"></p>
        <br>
        <p id="email"></p>
        <br>
        <p id="userId"></p>
    </div>
  </body>
  <script>
    function getCookieValue(name) {
        return document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)')?.pop() || ''
    }
    const email = getCookieValue("email").replace(/['"]+/g, '');
    const name = getCookieValue("firstLast").replace(/['"]+/g, '');
    const firstName = name.split(' ')[0];
    const lastName = name.split(' ')[1];
    const user_id = getCookieValue("id");
    document.getElementById('welcome').innerHTML = ("Welcome " + name);
    document.getElementById('email').innerHTML = ("Email: " + email);
    document.getElementById('userId').innerHTML = ("User ID: " + user_id);
    
    analytics.identify(user_id, {
        firstName: firstName,
        lastName: lastName,
        email: email
    });
</script>
</html>